
body {
  text-align: center;
  numeric-align: center
  background-color: pink;
}

img {
   display: block;
  margin: 0 auto;
  max-width: 200px;
}

.center
{
 text-align: center;
 list-style-position: inside;
}
ol.center li
{
 text-align: left;
 margin-left: 45%;
}

