.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
.seven:first-child,
.eight:first-child,
.nine:first-child,
.ten:first-child,
.eleven:first-child,
.five:first-child,
.four:first-child,
.three:first-child,
.two:first-child,
.one:first-child,
.six:first-child {
  margin-left: 0;
}
.eleven {
  width: 91.5%;
  float: left;
  margin-left: 2%;
}
.ten {
  width: 83%;
  float: left;
  margin-left: 2%;
}
.nine {
  width: 74.5%;
  float: left;
  margin-left: 2%;
}
.eight {
  width: 66%;
  float: left;
  margin-left: 2%;
}
.seven {
  width: 57.5%;
  float: left;
  margin-left: 2%;
}
.six {
  width: 49%;
  float: left;
  margin-left: 2%;
}
.five {
  width: 40.5%;
  margin-left: 2%;
  float: left;
}
.four {
  width: 32%;
  float: left;
  margin-left: 2%;
}
.three {
  width: 23.5%;
  float: left;
  margin-left: 2%;
}
.two {
  width: 15%;
  float: left;
  margin-left: 2%;
}
.one {
  width: 6.5%;
  float: left;
  margin-left: 2%;
}
.row {
  width: 100%;
  clear: both;
  padding: 0px;
  margin: 0px;
}

header {
  background-color: #3d3d29;
  font-family: "Times New Roman", Arial, Georgia;
  color: black;
  display: grid;
  grid-template-columns: 150px auto;
  grid-template-rows: 1fr;
  width: 100%;
}

div {
  width: 100%;
  background-color: #3d3d29;
}

footer {
  width: 100%;
  background-color: #3d3d29;
}

div {
  max-width: 100%;
  margin: 0 auto;
}

.icon {
  width: 80px;
  padding-top: 10px;
}

.logo {
  width: 80px;
}

#logo_link {
  padding-top: 5px;
  justify-self: center;
  align-self: center;
}

.wire-frame {
  max-width: ;
}
