header {
  background-color: #3d3d29;
  font-family: "Times New Roman", Arial, Georgia;
  color: black;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  width: 100%;
  padding: 1em;
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-evenly;
}

div.row {
  border: 1em;
}

nav a {
  text-align: center;
  color: white;
  text-decoration: none;
  padding: 35px;
}

nav a:hover {
  text-align: center;
  background-color: black;
  color: bisque;
  text-decoration: none;
}

div {
  width: 100%;
  background-color: #3d3d29;
}

footer {
  width: 100%;
  background-color: #3d3d29;
}

div {
  max-width: 100%;
  margin: 0 auto;
}

.icon {
  width: 80px;
  padding-top: 10px;
}

.logo {
  width: 80px;
}

#logo_link {
  padding-top: 5px;
  justify-self: center;
  align-self: center;
}

.wire-frame {
  max-width: ;
}

div.content {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  color: azure;
}

#two-image {
  margin-top: -80px;
  margin-left: 300px;
  opacity: 0.5;
}

footer {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  color: black;
  text-decoration: none;
  margin-top: 50px;
  display: flex;
}

footer h3 {
  grid-template-columns: auto;
}

footer .social img {
  padding-top: 15px;
  margin: 0;
  margin-left: 300px;
}
