div {
  max-width: 1600px;
  margin: 0 auto;
}

body {
  font-family: "Times New Roman", Arial, Georgia;
  font-size: 22px;
  background-color: #fcfbfb;
  color: black;
  margin: 0;
  padding: 0;
}

header {
  font-family: "Times New Roman", Arial, Georgia;
  background-color: #999966;
  color: black;
}

nav a {
  text-align: center;
  color: black;
  text-decoration: none;
  padding: 35px;
}

nav a:hover {
  text-align: center;
  background-color: black;
  color: bisque;
  text-decoration: none;
}

.home-title {
  font-size: 2em;
  color: black;
  margin-top: 10px;
}

h2 {
  margin: 0;
}

h3 {
  text-decoration: none;
}

h4 {
  color: black;
}

.book,
.join {
  font-size: 18px;
  background-color: #999966;
  color: black;
  text-decoration: none;
  padding: 15px 30px;
  margin-top: 50px;
  border-radius: 5px;
}

.book:hover,
.join:hover {
  background-color: #3d3d29;
  color: bisque;
}

#hero-img {
  width: 100%;
}

#hero-msg h1 {
  text-align: center;
}

#hero-msg h4 {
  text-align: center;
}

.button-box {
  text-align: center;
}

main section {
  text-align: center;
}

main section img {
  box-sizing: border-box;
}

#background {
  height: 725px;
  background-color: #3d3d29;
  color: bisque;
}

.msg {
  line-height: 1.5em;
  background-color: #999966;
  color: black;
  padding: 35px;
}

.msg h2 {
  color: black;
}

.msg p {
  font-size: 0.8em;
  color: black;
  padding-bottom: 15px;
}

.icon {
  width: 80px;
  padding-top: 10px;
}

.logo {
  width: 80px;
}

#logo_link {
  padding-top: 5px;
}

a:hover {
  text-decoration: underline;
}

footer {
  background-color: #999966;
  color: black;
  text-decoration: none;
  padding: 25px 50px;
  margin-top: 50px;
}

footer h3 {
  color: black;
  text-decoration: none;
}

footer a {
  color: black;
  text-decoration: none;
}

footer a:hover {
  color: black;
}

footer .social img {
  padding-top: 15px;
}

.rivers-card,
.camping-card,
.rapids-card {
  margin: 200px 0;
}

.card-img {
  border: 10px solid black;
}
