div {
  max-width: 1600px;
  margin: 0 auto;
}

body {
  background-color: #fcfbfb;
  color: black;
}

header {
  background-color: #999966;
  color: black;
}

nav a {
  color: antiquewhite;
  text-decoration: none;
}

nav a:hover {
  text-align: center;
  background-color: black;
  color: bisque;
}

.home-title {
  color: antiquewhite;
}

h4 {
  color: antiquewhite;
}

.book {
  background-color: #999966;
  color: black;
  text-decoration: none;
}

.book:hover {
  background-color: #3d3d29;
  color: bisque;
}

.join {
  background-color: #999966;
  color: black;
  text-decoration: none;
}

.join:hover {
  background-color: #3d3d29;
  color: bisque;
}

#hero-img {
  width: 100%;
}

#hero-msg h1 {
  text-align: center;
}

#hero-msg h4 {
  text-align: center;
}

.button-box {
  text-align: center;
}

main section {
  text-align: center;
}

#background {
  height: 725px;
  background-color: #3d3d29;
  color: bisque;
}

.msg {
  background-color: #999966;
  color: black;
}

.msg h2 {
  color: antiquewhite;
}

.msg p {
  color: antiquewhite;
}

.icon {
  width: 80px;
}

a:hover {
  text-decoration: underline;
}

footer {
  background-color: #999966;
  color: black;
}

footer h3 {
  color: antiquewhite;
  text-decoration: underline;
}

footer a {
  color: antiquewhite;
  text-decoration: none;
}

footer a:hover {
  color: antiquewhite;
}
