header {
  text-align: center;
}

.grid-container {
  display: grid;
  grid-gap: 50px 100px;
  grid-template-columns: auto auto auto auto auto;
  margin: auto;
  color: black;
}

.grid-line {
    border: 1px solid black;
    height: 999px;

.item1 {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 7;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #2196F3;
    padding: 10px;
  }
  .grid-item {
    border: 1px solid rgba(0, 0, 0, 0.8);
  }