* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --primary-color: #b6e1e0;
    --secondary-color: #9cd3d3;
    --accent1-color: #e8630a;
    --accent2-color: #2b4353;
  
    --heading-font: font-family: "Times New Roman", Arial, Georgia;
    --paragraph-font: font-family: "Times New Roman", Arial, Georgia;
  
    --headline-color-on-white: #b6e1e0; /* headlines on a white background */
    --headline-color-on-color: #2b4353; /* headlines on a colored background */
    --paragraph-color-on-white: ##b6e1e0; /* paragraph text on a white background */
    --paragraph-color-on-color: #2b4353; /* paragraph text on a colored background */
    --paragraph-background-color: #b6e1e0;
    --nav-link-color: #b6e1e0;
    --nav-background-color: #e8630a;
    --nav-hover-link-color: #2b4353;
    --nav-hover-background-color: #b6e1e0;
  }